<form id="fs-frm" name="simple-contact-form" accept-charset="utf-8" action="https://formspree.io/f/mwkyveae" method="post">
    <div class="input-field">
        <input type="text" name="name" id="full-name" required="">
        <label for="full-name">Nome</label>
    </div>

    <div class="input-field">
        <input type="email" name="_replyto" id="email-address" required="">
        <label for="email-address">Email</label>
    </div>

    <div class="input-field">
        <textarea class="materialize-textarea" rows="5" name="message" id="message" required=""></textarea>
        <label for="message">Messaggio</label>
    </div>

    <input type="hidden" name="_subject" id="email-subject" value="Contact Form Submission">
    <div class="g-recaptcha" data-sitekey="6LfDkYQrAAAAAFyR_Z-f1dWl0RxyShgYkDBapXX6"></div>
    <br/>
    <div class="row">
        <button class="col s4 offset-s8 btn waves-effect waves-light" type="submit" name="action">Invia
            <i class="material-icons right">send</i>
        </button>
    </div>
</form>