---
layout: default
---

<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h1 class="header center">{{ site.title }}</h1>
        <div class="row center">
            <h5 class="header col s12 light">
                Hacking Team del Modena Linux User Group</h5>
        </div> 
    </div>
</div>

<div class="container">
    <div class="section">
        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 l8">
                <div id='calendar'></div>
            </div>
            <div class="col s12 l4">
                <div class="col s12">
                    <div class="icon-block">
                        <h3 class="center text-secondary-color"><i class="material-icons">today</i></h3>
                        <h5 class="center">Scegli una data</h5>

                        <p class="light">
                            Nel calendario vengono indicate le date in cui ci incontriamo per partecipare ai CTF e quelle degli incontri settimanali.
                        </p>
                    </div>
                </div>

                <div class="col s12">
                    <div class="icon-block">
                        <h3 class="center text-secondary-color"><i class="material-icons">send</i></h3>
                        <h5 class="center">Contattaci</h5>

                        <p class="light">
                            Se sei interessato ad unirti a noi per qualche evento o agli incontri setttimanali scrivici dal form di contatto in fondo alla pagna.<br> 
                            Gli incontri sono aperti a tutti.
                        </p>
                    </div>
                </div>

                <div class="col s12">
                    <div class="icon-block">
                        <h3 class="center text-secondary-color"><i class="material-icons">location_on</i></h3>
                        <h5 class="center">Unisci a noi</h5>

                        <p class="light">
                            Raggiungici nei locali del Make IT Modena.
                            Strada Barchetta 77, Modena
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<div>
    <div class="container last-post">
        <section>
            <h5>Latest Post</h5>
            <ul class="collection">
                {% for post in site.posts %}
                <li class="collection-item avatar">
                    {% assign date_format = site.minima.date_format | default: "%m/%d" %}
                    <div class="date-post">{{ post.date | date: date_format }}</div>
                    <span class="title">
                        <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></span>
                    <p>
                        {{ post.content | truncatewords: 10 }}
                    </p>
                    <br />
                    <p class="post-meta">
                        <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
                            {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
                            {{ post.date | date: date_format }}
                        </time>
                        {% if post.author %}
                        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{
                                post.author
                                }}</span></span>
                        {% endif %}
                    </p>
                    <a href="{{ post.url | relative_url }}" class="secondary-content"><i
                            class="material-icons">navigate_next</i></a>
                </li>
                {% endfor %}
            </ul>
        </section>
    </div>
</div>